/Users/nicholaskim/Documents/STAT 506/Lectures
/Users/nicholaskim/Documents/STAT 506/HW1
/Users/nicholaskim/Documents/STAT 506/HW3
/Users/nicholaskim/Documents/STAT 506/STAT 506 HW3
/Users/nicholaskim/Documents/STAT 506/HW2
/Users/nicholaskim/Documents/STAT 506/HW4
/Users/nicholaskim/Documents/STAT 506/HW5
/Users/nicholaskim/Documents/STAT 506/HW3_files
